.color-green {
    color: var(--color-green);
}

.color-orange {
    color: var(--color-orange);
}

.bg-color-blue {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.doted-list {
    list-style: inside;
    padding-left: 1em;

    li + li {
        margin-top: 0.5em;
    }
}
